numpy
scipy
sympy
matplotlib
pandas
xlrd
openpyxl
statsmodels
beautifulsoup4
lxml
nltk
spacy
pynlpir
tensorflow==2.5.1
ckiptagger
opencc-python-reimplemented
translate-toolkit
aeidon
opustools-pkg
stanza
https://github.com/explosion/spacy-models/releases/download/en_core_web_md-2.2.5/en_core_web_md-2.2.5.tar.gz
#http://nlp.csie.org/~rubentsui/files/ckipnn-1.0.5-py3-none-any.whl
http://nlp.csie.org/~rubentsui/files/milksets-0.2-py2.py3-none-any.whl
