numpy
scipy
sympy
matplotlib
pandas
xlrd
openpyxl
statsmodels
beautifulsoup4
lxml
nltk
spacy
pynlpir
tensorflow==1.15.2
ckiptagger
opencc-python-reimplemented
translate-toolkit
aeidon
opustools-pkg
stanza
https://github.com/explosion/spacy-models/releases/download/en_core_web_md-2.2.5/en_core_web_md-2.2.5.tar.gz
https://nlp.csie.org/~rubentsui/files/ckipnn-1.0.0-py3-none-any.whl
